<a href="https://api.simply-password.ovh" target="_blank"><button class="uk-button uk-button-primary uk-width-1-1 uk-position-top">SIMPLY PASSWORD</button></a>
<div style="margin: 25px 10px 10px 10px">
    <h3 style="margin-bottom: 5px !important">Mon Compte</h3>
    <div class="uk-card uk-card-default">
        <p class="uk-margin-small-left uk-text-middle" style="display: inline; font-size: 20px">{{login}}</p>
        <a href="" class="uk-margin-small-left uk-icon-button" uk-icon="plus"></a>
        <a href="" class="uk-margin-small-left uk-icon-button" uk-icon="minus"></a>
    </div>
    <h3 style="margin-bottom: 5px !important">Comptes partages</h3>
    <!-- Add foreach on all websites account-->
    <div class="uk-card uk-card-default" ng-repeat="mail in loginShared">
            <p class="uk-margin-small-left uk-text-middle" style="display: inline; font-size: 20px">{{mail}}</p>
            <a href="" class="uk-margin-small-left uk-icon-button" uk-icon="trash"></a>
    </div>
</div>
<button class="uk-button uk-button-primary uk-width-1-1 uk-position-bottom" ng-click="logout()"><span uk-icon="icon: sign-out"></span>Déconnexion</button>