<form style="margin: 0px 10px 0px 10px">
        <fieldset class="uk-fieldset">
    
            <legend class="uk-legend uk-text-primary uk-text-uppercase uk-text-center">Simply Password<br><strong>Inscription</strong></legend>
    
            <hr class="uk-divider-icon">
    
            <div class="uk-margin">
                <input class="uk-input" type="mail" placeholder="Mail" ng-model="mail">
            </div>
    
            <div class="uk-margin">
                <input class="uk-input" type="password" placeholder="Mot de passe" ng-model="password">
            </div>

            <div class="uk-margin">
                    <input class="uk-input" type="password" placeholder="Mot de passe (confirmation)" ng-model="repassword">
            </div>

            <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" ng-click="login(mail, password, repassword)"><div ng-if="loading" uk-spinner></div> Inscription</button>
    
            <hr>
    
            <p class="uk-text-primary uk-text-center">Déja inscrit ? <a href="#!/login">Cliquez ici.</a></p>
    
        </fieldset>
    </form>